#MainWindow {
    background-image: url("../image/Pngtree_background.png");
    background-size: cover;
}

#BattleWindow {
    background-image: url("../image/BattleField.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#SettingPage {
    opacity: 0.5;
}

.MainButtonClass {
    opacity: 0.5;
}

.HpBar {
    font-size: 16px;
    color: #0ff343;
}